* {
  box-sizing: border-box;
}

html {
  // 当前浏览器的视窗高度
  height: 100%;
  height: 100vh;
  font-size: 14px;
}

body {
  height: 100%;
  color: #333;
  // font: 任意 font-size/line-height font-family
  font: 1em/1.6 "Microsoft Yahei", "PingFang SC", "Avenir", "Segoe UI", "Hiragino Sans GB", "STHeiti",
    "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

em,
i {
  font-style: normal;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"] {
  padding: 0;
  // 去除获取焦点后的轮廓线
  outline: none;
  // 去除默认的边框
  border: none;
  // 内部默认颜色
  color: #333;
  &::placeholder {
    color: #ccc;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  // 在网页中，图片的对齐方式和文字是一样的，默认都是沿着元素的基线对齐的
  // 开发中经常通过vertical-align来消除图片下边的空白
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
}

#app {
  background: #f5f5f5;
  /* 不允许用户选中文本 */
  user-select: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

// 单行文本溢出显示省略号
.ellipsis {
  // 禁止文字自动换行white-space: nowrap
  white-space: nowrap;
  // 溢出文字显示为省略号
  text-overflow: ellipsis;
  // 禁止文字的溢出
  overflow: hidden;
}

/* 两行文本溢出显示省略号 */
.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* 离开时的淡出动画 */
.fade {
  &-leave {
    &-active {
      position: absolute;
      width: 100%;
      transition: opacity 0.5s 0.2s;
      z-index: 1;
    }
    &-to {
      opacity: 0;
    }
  }
}

// 从右边淡入进来的面包屑动画
// 右侧20px的位移，透明度为0
.fade-right-enter-from,
fade-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

// 做过渡.5s
.fade-right-enter-active,
fade-right-leave-active {
  transition: all 0.5s;
}

// 本来位置，没有位移，透明度为1
.fade-right-enter-to,
fade-right-leave-from {
  transform: none;
  opacity: 1;
}

/* 表单 */
.xtx-form {
  padding: 50px 0;
  &-item {
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 25px;
    .label {
      width: 180px;
      padding-right: 10px;
      text-align: right;
      color: #999;
      ~ .field {
        margin-left: 0;
      }
    }
    .field {
      width: 320px;
      height: 50px;
      position: relative;
      margin-left: 190px;
      .icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #999;
        ~ .input {
          padding-left: 40px;
        }
      }
      .input {
        border: 1px solid #e4e4e4;
        width: 320px;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
        &.err {
          border-color: @priceColor;
        }
        &:focus,
        &:active {
          border-color: @xtxColor;
        }
      }
    }
    .error {
      width: 180px;
      padding-left: 10px;
      color: @priceColor;
    }
  }
  .submit {
    width: 320px;
    height: 50px;
    border-radius: 4px;
    background: @xtxColor;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    display: block;
    margin: 0 auto;
  }
}
